<div class="navigation-container">
  <div class="row">
    <%= image_tag "pabloh.jpg" %>
    <ul>
      <a href="#">
        <li>Pablito</li>
      </a>
      <a href="#">
        <li>Pablito</li>
      </a>
      <a href="#">
        <li>Pablito</li>
      </a>
      <a href="#">
        <li>Pablito</li>
      </a>
    </ul>
  </div>
</div>

<div class="image-scroller-container">
  <div class="row">
    <ul class="carousel">
      <li class="item">
        <h2>Title</h2>
        <p>Paragraph Paragraph Paragraph Paragraph Paragraph</p>
      </li>
    </ul>
  </div>
</div>

<div class="hover-container">
  <div class="row">
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
    <div class="large-3 columns">
      <a href="#">
        <div class="item">
          <%= image_tag "pabloh.jpg" %>
          <div class="title">title</div>
          <div class="subtitle">subtitle</div>
        </div>
      </a>
    </div>
  </div>
</div>


<footer>
  <div class="row">
    <div class="large-3 columns">
      <h4 class="title">title
        <p class="subtitle">subtitle</p>
      </h4>
    </div>
    <div class="large-3 columns">
      <h4 class="title">title
        <p class="subtitle">subtitle</p>
      </h4>
    </div>
    <div class="large-3 columns">
      <h4 class="title">title
        <p class="subtitle">subtitle</p>
      </h4>
    </div>
    <div class="large-3 columns">
      <h4 class="title">title
        <p class="subtitle">subtitle</p>
      </h4>
    </div>
  </div>
</footer>
