// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ç

$gray: #D9DFE3;
$border-gray: #C2C8CC;

//navigation bar
.navigation-container{
  background: red;
  padding: 2em;
  text-align: center;
  img{
    border-radius: 9em;
    margin: 1em;
    width: 9em;
  }
  ul{
    list-style-type: none;
    li{
      background: #333;
      border: solid 0.1em blue;
      color: #FFF;
      display: inline-block;
      margin: 1em 1em;
      padding: 0.5em;
    }
  }
}

.image-scroller-container{
  background: $gray;
  border-top: solid 0.5em $border-gray;
  border-bottom: solid 0.5em $border-gray;
  margin: 0;
  padding: 2em;
  text-align: center;
  .carousel{
    margin: 0;
    list-style-type: none;
    padding: 2em;
    .item{
      padding: 2em;
    }
  }
}

.hover-container{
  background: #FFF;
  padding: 4em;
  a{
    color: #333;
  }
  .item{
    padding: 1em 0.5em;
    text-align: center;
    img{
      border-radius: 0.5em;
     &:hover{
       -webkit-transition:  0.5s;
       border: solid 0.5em #AAB2B8;
       opacity: 0.5;
     }
    }
    .title{

    }
  }
}
